*{
    margin: 0px;
    padding: opx;
}

table{
    background-color: aqua;
    border-width: 10px;
    border-style: groove;
    width: 100%;
    border-color: crimson;
    border-radius: 10px;
}

#heading{
    background-color: yellow;
    font-size: 60px;
    text-align: center;
    color: brown;
}

#row1{
    background-color: coral;
    text-align: center;
}
#row2{
    background-color: red;
    text-align: center;
}

